@media screen and (max-width:576px) {
    .header-container{
        width: 90%;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav h1{
        text-align: center;
    }

    nav ul{
        gap: 10px;
        justify-content: center;
    }

    .banner-content{
        width: 90%;
    }

    .main-container{
        width: 90%;
    }

    .team{   
        flex-direction: column;
    }

    .team-image{
        width: 100%;
    }

    .team-content{
        width: 100%;
        text-align: center;
    }

    .team-content p{
        width: 90%;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature{
        flex-direction: column;
        width: 90%;
        margin:0 auto;
    }

    .feature-content{
        width: 100%;
    }

    .feature-content > h1, .feature-content > p {
        width: 100%;
    }

    .feature-content > p{
        margin: 20px 0px;
    }

    .feature-card{
        width: 90%;
    }

    .feature-image{
        width: 100%;
        margin: 50px 0;
    }

    .fact{
        width: 90%;
        margin: 0 auto;
    }
    .fact > p{
        width: 90%;
    }

    .fact-card{
        flex-direction: column;
        gap: 20px;
    }

    .sponsor > p{
        width: 90%;
    }

    .sponsor-image{
        flex-direction: column;
        align-items: center;
    }

    .sponsor-image img{
        width: 60%;
        margin-bottom: 30px;
    }

    footer > p{
        padding: 40 20px;
    }


}

@media screen and (min-width:576.01px) and (max-width:768px) {
    .header-container{
        width: 85%;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav h1{
        text-align: center;
    }

    nav ul{
        gap: 20px;
        justify-content: center;
    }

    .banner-content{
        width: 90%;
    }
    
    .main-container{
        width: 85%;
    }

    .team{   
        flex-direction: column;
    }

    .team-image{
        width: 100%;
    }

    .team-content{
        width: 100%;
        text-align: center;
    }

    .team-content p{
        width: 90%;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature{
        flex-direction: column;
        width: 85%;
        margin:0 auto;
    }

    .feature-content{
        width: 100%;
    }

    .feature-content > h1, .feature-content > p {
        width: 100%;
    }

    .feature-content > p{
        margin: 20px 0px;
    }

    .feature-card{
        width: 90%;
    }

    .feature-image{
        width: 100%;
        margin: 50px 0;
    }

    .fact{
        width: 85%;
        margin: 0 auto;
    }

    .fact > p{
        width: 90%;
    }

    .fact-card{
        flex-direction: column;
        gap: 20px;
    }
    

}

@media screen and (min-width:769px) and (max-width:992px) {
    .header-container{
        width: 80%;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav h1{
        text-align: center;
    }

    nav ul{
        gap: 30px;
        justify-content: center;
    }

    .banner-content{
        width: 95%;
    }

    .main-container{
        width: 80%;
    }

    .team{   
        flex-direction: column;
    }

    .team-image{
        width: 100%;
    }

    .team-content{
        width: 100%;
        text-align: center;
    }

    .team-content p{
        width: 90%;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature{
        flex-direction: column;
        width: 80%;
        margin:0 auto;
    }

    .feature-content{
        width: 100%;
    }

    .feature-content > h1, .feature-content > p {
        width: 100%;
    }

    .feature-content > p{
        margin: 20px 0px;
    }

    .feature-card{
        width: 90%;
    }

    .feature-image{
        width: 100%;
        margin: 50px 0;
    }

    .fact{
        width: 80%;
        margin: 0 auto;
    }

    .fact > p{
        width: 80%;
    }

    .fact-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsor > p{
        width: 90%;
    }

    .sponsor-image{
        flex-direction: column;
        align-items: center;
    }

    .sponsor-image img{
        width: 60%;
        margin-bottom: 30px;
    }

    footer > p{
        padding: 40 20px;
    }

}

@media screen and (min-width:993px) and (max-width:1200px) {
    .header-container{
        width: 80%;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav h1{
        text-align: center;
    }

    nav ul{
        gap: 30px;
        justify-content: center;
    }

    .banner-content{
        width: 85%;
    }

    .main-container{
        width: 80%;
    }

    .team{   
        flex-direction: column;
    }

    .team-image{
        width: 100%;
    }

    .team-content{
        width: 100%;
        text-align: center;
    }

    .team-content p{
        width: 85%;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature{
        flex-direction: column;
        width: 80%;
        margin:0 auto;
    }

    .feature-content{
        width: 100%;
    }

    .feature-content > h1{
        width: 100%;
    }

    .feature-content > p{
        margin: 20px 0px;
    }

    .feature-card{
        width: 90%;
    }

    .feature-image{
        width: 100%;
        margin: 50px 0;
    }

    .fact{
        width: 80%;
        margin: 0 auto;
    }

    .fact > p{
        width: 90%;
    }

    .fact-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .sponsor > p{
        width: 90%;
    }

    .sponsor-image{
        flex-direction: column;
        align-items: center;
    }

    .sponsor-image img{
        width: 60%;
        margin-bottom: 30px;
    }

    footer > p{
        padding: 40 20px;
    }
}

@media screen and (min-width:1201px) and (max-width:1400px) {
    .header-container{
        width: 80%;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav h1{
        text-align: center;
    }

    nav ul{
        gap: 30px;
        justify-content: center;
    }

    .banner-content{
        width: 85%;
    }

    .main-container{
        width: 80%;
    }

    .team{   
        flex-direction: column;
    }

    .team-image{
        width: 100%;
    }

    .team-content{
        width: 100%;
        text-align: center;
    }

    .team-content p{
        width: 85%;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature{
        flex-direction: column;
        width: 80%;
        margin:0 auto;
    }

    .feature-content{
        width: 100%;
    }

    .feature-content > h1{
        width: 100%;
    }

    .feature-content > p{
        margin: 20px 0px;
    }

    .feature-card{
        width: 90%;
    }

    .feature-image{
        width: 100%;
        margin: 50px 0;
    }

    .fact{
        width: 80%;
        margin: 0 auto;
    }

    .fact > p{
        width: 80%;
    }

    .fact-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}