*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    margin: 10px 0px;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
}

.subhead{
    font-size: 45px;
    color: #131313;
}

.content-primary{
    color: #727272;
    margin: 10px 0;
    line-height: 30px;
}


/* nav related styles */
header{
    background-color: #FFF4E7;
    padding: 20px 0px;
}

.header-container{
    width: 80%;
    margin:0 auto;
}

nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-content{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.banner-content h1{
    color: #131313;
    font-size: 64px;
}

.banner-image img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

/* Main Styles Starting from here */

.main-container{
    width: 80%;
    margin: 0 auto;
}

section{
    margin: 100px 0px;
    /* background-color: lightblue; */
}

/* Team Image Related Styles */
.team{
    display: flex;
    align-items: center;
    gap: 50px;
}

.team-image{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.team-content{
    width: 50%;
}

.team-content .span1{
    color: #727272;
}

.team-content .span2{
    color: #FF900E;
}

.team-content p{
    width: 80%;
    margin: 20px 0;
}