*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    margin: 10px 0px;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
}

.subhead{
    font-size: 45px;
    color: #131313;
}

.content-primary{
    color: #727272;
    margin: 10px 0;
    line-height: 30px;
    font-size: 17px;
}


/* nav related styles */
header{
    background-color: #FFF4E7;
    padding: 20px 0px;
}

.header-container{
    width: 80%;
    margin:0 auto;
}

nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-content{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.banner-content h1{
    color: #131313;
    font-size: 64px;
}

.banner-image img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

/* Main Styles Starting from here */

.main-container{
    width: 80%;
    margin: 0 auto;
}

section{
    margin: 120px 0px;
    /* background-color: lightblue; */
}

/* Team Image Related Styles */
.team{
    display: flex;
    align-items: center;
    gap: 50px;
}

.team-image{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.team-content{
    width: 50%;
}

.team-content .span1{
    color: #727272;
}

.team-content .span2{
    color: #FF900E;
}

.team-content p{
    width: 80%;
    margin: 20px 0;
}

/* Features Related Styles */

.feature{
    display: flex;
    align-items: end;
}

.feature-content{
    width: 50%;
}

.feature-content > h1{
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    width: 60%;
}

.feature-content > p{
    width: 80%;
    margin: 20px;
}

.content-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}

.feature-card{
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgb(206, 204, 204);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.feature-card h4{
    color: #131313;
    font-size: 20px;
}

.feature-card p{
    margin: 20px 0;
}

.feature-image{
    width: 50%;
}

.feature-image img{
    width: 100%;
    height: 100%;
}

/* Facts Section related Styles */

.fact > p{
    width: 40%;
    margin: 20px 0;
}

.fact-card{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.fact-card-content{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 30px 35px;
    border-radius: 5px;
    
}

.fact-card-content > h1{
    font-weight: 500;
    margin: 10px 0;
}

.fact-card-content > p{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Sponsor section related styles */

.sponsor{
    text-align: center;
}

.sponsor > p{
    
    width: 40%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.sponsor-image{
    display: flex;
    justify-content: space-between;
}

/* Footer Related Styles */

footer{
    background-color: #FFF4E7;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

footer > p{
    padding: 40px 0;
}